@{
    ViewData["Title"] = "Products List";
}
<table class = "table table-striped">
    <tr>
        <th colspan ="5"><h3>Products</h3></th>
    </tr>
    <tr>
        <td>Field1</td>
        <td>Field2</td>
        <td>Field3</td>
        <td>Field4</td>
        <td>Field5</td>
    </tr>

